@import '../../../styles/themes.module.scss';
@font-face {
  font-family: 'Beyond';
  src: url('../../../fonts/FontsFree-Net-Beyond.ttf');
}

$font-header-first: 12px;
$font-header-second: 16px;
$font-icon-search: 25px;
$yellow: #fa9e1b;

.Header {
  /* The image used */
  background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)),
    url('https://tranhoangkhang1212.github.io/travelix/assets/images/bg_header.webp');

  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  a {
    text-decoration: none;
    color: #fff;
    svg {
      &:hover {
        color: $yellow;
      }
    }
  }
  .header-first {
    font-size: $font-header-first;
    color: #fff;
    padding: 8px 0px;
    span {
      padding-right: 40px;
    }
    button {
      background-color: none;
      border: none;
    }
    a {
      color: #fff;
      padding: 0 10px;

      &:hover {
        color: $yellow;
      }
    }
  }

  .Header-container {
    background-color: $main;
  }

  .header__nav {
    background: rgba(54, 19, 84, 0.6);
    z-index: 10;
    width: 100%;
    .header__nav__logo {
      a {
        display: flex;
        align-items: center;
        span {
          padding-left: 20px;
          text-transform: uppercase;
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
    }
    .header__nav__box {
      a {
        margin-right: 30px;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: $font-header-second;

        &::after {
          display: block;
          content: '';
          height: 3px;
          background: linear-gradient(to right, #fa9e1b, #8d4fff);
          transform: scaleX(0.0001);
          transition: transform 250ms ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
    .header__nav__search {
      svg {
        transform: rotate(90deg);
        cursor: pointer;
        font-size: $font-icon-search;
        font-weight: bold;
        &:hover {
          color: #fa9e1b;
        }
      }
    }

    // input {
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    // }
  }

  .header__content {
    margin-top: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-transform: uppercase;
    z-index: 0;
    .header__content__discover {
      line-height: 1;
      margin: 0;
      font-size: 120px;
      transition: all 0.5s;
    }
    .header__content__world {
      font-size: 60px;
      font-family: Beyond;
      letter-spacing: -5px;
    }

    .header__content__explore {
      background: linear-gradient(to right, #fa9e1b, #8d4fff);
      border-radius: 53px;
      padding: 15px 60px;
      margin-top: 50px;
      div {
        display: inline;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        width: 5.75px;
        height: 5.63px;
        background: #fff;
        border-radius: 50%;
        margin-right: 2px;
        margin-left: 5px;
      }
      span:nth-child(4) {
        opacity: 0.5;
      }
      span:nth-child(3) {
        opacity: 0.8;
      }
    }
  }
}
